<!DOCTYPE html>
<html lang="zh-Hans" data-darkmode="auto">
<head>
    <meta charset="UTF-8">
    <title>赫蹏 - 一个简约又简单的网页中文排版增强</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="heti.css">
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="./favicon.svg">
</head>
<body>
<main class="container">
    <article class="article heti heti--classic">
        <h1 class="article__title">赫蹏</h1>
        <blockquote>古代称用以书写的小幅绢帛。后亦以借指纸。《汉书·外戚传下·孝成赵皇后》：「武（籍武）发篋中，有裹药二枚，赫蹏书。」<u>颜师古</u>注：「<u>邓展</u>曰：『赫音兄弟鬩墙之鬩。』<u>应劭</u>曰：『赫蹏，薄小纸也。』」<u>宋</u><u>赵彦卫</u>
            《云麓漫钞》卷七：「《赵后传》所谓『赫蹏』者，注云『薄小纸』，然其寔亦縑帛。」
        </blockquote>

        <h2 id="intro">介绍<a class="anchor" href="#intro">#</a></h2>
        <p>
            <ruby class="heti-ruby--inline">赫
                <rp>(</rp>
                <rt lang="zh-Latn">hè</rt>
                <rp>)</rp>
            </ruby>
            <ruby class="heti-ruby--inline">蹏
                <rp>(</rp>
                <rt lang="zh-Latn">tí</rt>
                <rp>)</rp>
            </ruby>
            是专为中文网页内容设计的排版样式增强。它基于通行的中文排版规范，可为网站的读者带来更好的内容阅读体验。它的主要特性有：
        </p>
        <ul>
            <li>贴合网格的排版；</li>
            <li>全标签样式美化；</li>
            <li>预置古文、诗词样式；</li>
            <li>预置多种排版样式（行间注、多栏、竖排等）；</li>
            <li>多种预设字体族（仅限桌面端）；</li>
            <li>简/繁体中文支持；</li>
            <li>自适应黑暗模式；</li>
            <li>中西文混排美化，不再手敲空格（基于JavaScript脚本）；</li>
            <li>标点挤压（基于JavaScript脚本）；</li>
            <li>兼容<i>normalize.css</i>、<i>CSS Reset<sup><a id="ref-01" href="#fn-01">[1]</a></sup></i>等常见样式重置；
            </li>
            <li>移动端支持；</li>
            <li>……</li>
        </ul>
        <p>总之，用上就会变好看。</p>

        <hr>

        <h2 id="usage">使用方法<a class="anchor" href="#usage">#</a></h2>
        <p>项目地址：<a href="https://github.com/sivan/heti">https://github.com/sivan/heti</a>，使用方法如下：</p>
        <ol>
            <li>
                在页面的<code>&lt;/head&gt;</code>标签前中引入<code>heti.css</code>样式文件：
                <pre><code>&lt;link rel=&quot;stylesheet&quot; href=&quot;//unpkg.com/heti/umd/heti.min.css&quot;&gt;</code></pre>
            </li>
            <li>
                在要作用的容器元素上增加<code>class="heti"</code>的类名即可：

                <pre><code>&lt;article class=&quot;entry <ins>heti</ins>&quot;&gt;
  &lt;h1&gt;我的世界观&lt;/h1&gt;
  &lt;p&gt;有钱人的生活就是这么朴实无华，且枯燥。&lt;/p&gt;
  ……
&lt;/article&gt;</code></pre>
            </li>
        </ol>
        <small>注：赫蹏是正文区域的样式增强，不是<i>normalize.css</i>或<i>CSS Reset</i>的替代。因此<b>不建议</b>将它作用在根标签（如<code>&lt;body&gt;</code>或<code>&lt;div
            class=&quot;container&quot;&gt;</code>）上。</small>

        <hr>

        <h2 id="examples">效果示例<a class="anchor" href="#examples">#</a></h2>
        <p>本页面<em>全页</em>应用了赫蹏样式，所见即所得。下面是内置的多种排版效果演示。</p>

        <h3 id="example-ancient">古文<a class="anchor" href="#example-ancient">#</a></h3>
        <details>
            <summary>如何使用？</summary>
            <p>为容器元素<code>&lt;div class=&quot;heti&quot;&gt;</code>添加名为<code>heti--ancient</code>的class即可实现古文版式：
            </p>
            <pre><code>&lt;div class=&quot;heti heti--ancient&quot;&gt;...&lt;/div&gt;</code></pre>
        </details>
        <details open>
            <summary>示例</summary>
            <section class="demo">
                <div class="heti heti--ancient">
                    <h1>出师表</h1>
                    <p class="heti-meta heti-small">作者：<abbr title="字孔明">諸葛亮</abbr>（181年～234年10月8日）</p>
                    <p>
                        先帝创业未半而中道崩殂，今天下三分，益州疲弊，此诚危急存亡之秋也。然侍卫之臣不懈于内，忠志之士忘身于外者，盖追先帝之殊遇，欲报之于陛下也。诚宜开张圣听，以光先帝遗德，恢弘志士之气，不宜妄自菲薄，引喻失义，以塞忠谏之路也。</p>
                    <p>
                        宫中府中，俱为一体；陟罚臧否，不宜异同。若有作奸犯科及为忠善者，宜付有司论其刑赏，以昭陛下平明之理；不宜偏私，使内外异法也。</p>
                    <p>
                        侍中、侍郎郭攸之、费祎、董允等，此皆良实，志虑忠纯，是以先帝简拔以遗陛下：愚以为宫中之事，事无大小，悉以咨之，然后施行，必能裨补阙漏，有所广益。</p>
                    <p>
                        将军向宠，性行淑均，晓畅军事，试用于昔日，先帝称之曰能，是以众议举宠为督。愚以为营中之事，悉以咨之，必能使行阵和睦，优劣得所。</p>
                    <p>
                        亲贤臣，远小人，此先汉所以兴隆也；亲小人，远贤臣，此后汉所以倾颓也。先帝在时，每与臣论此事，未尝不叹息痛恨于桓、灵也。侍中、尚书、长史、参军，此悉贞良死节之臣，愿陛下亲之信之，则汉室之隆，可计日而待也。</p>
                    <p>
                        臣本布衣，躬耕于南阳，苟全性命于乱世，不求闻达于诸侯。先帝不以臣卑鄙，猥自枉屈，三顾臣于草庐之中，咨臣以当世之事，由是感激，遂许先帝以驱驰。后值倾覆，受任于败军之际，奉命于危难之间，尔来二十有一年矣。</p>
                    <p>
                        先帝知臣谨慎，故临崩寄臣以大事也。受命以来，夙夜忧叹，恐托付不效，以伤先帝之明；故五月渡泸，深入不毛。今南方已定，兵甲已足，当奖率三军，北定中原，庶竭驽钝，攘除奸凶，兴复汉室，还于旧都。此臣所以报先帝而忠陛下之职分也。至于斟酌损益，进尽忠言，则攸之、祎、允之任也。</p>
                    <p>
                        愿陛下托臣以讨贼兴复之效，不效，则治臣之罪，以告先帝之灵。若无兴德之言，则责攸之、祎、允等之慢，以彰其咎；陛下亦宜自谋，以咨诹善道，察纳雅言，深追先帝遗诏。臣不胜受恩感激。</p>
                    <p>今当远离，临表涕零，不知所言。</p>
                </div>
            </section>
        </details>

        <footer class="heti-fn">
            <ol>
                <li id="fn-01">
                    <a href="#ref-01" title="移至">^</a>
                    CSS Reset：指代类似Eric Meyer's Reset CSS的样式重置方案
                </li>
                <li id="fn-02">
                    <a href="#ref-02" title="移至">^</a>
                    《中文排版需求》：https://w3c.github.io/clreq/
                </li>
                <li id="fn-03">
                    <a href="#ref-03" title="移至">^</a>
                    在当下前端技术尚不能完美解决中西文混排间距的情况下，常见的输入习惯是手动在中西文间加入空格（https://github.com/vinta/pangu.js）。这样做的弊端一是间距不可控（有时显得过大），二是通过空格符来排版只能算无奈之举。好消息是在最新的macOS、iOS中，使用原生语言开发的文本区域会自动处理中西文混排的间距（无论是否加空格），期待不用手敲空格的日子早日到来。
                </li>
            </ol>
        </footer>
    </article>
</main>

<aside class="panel">
    <ul class="panel-list panel-list--gray">
        <li><input type="radio" class="J_fontStack" value="heti--classic" name="font" id="font-classic" checked><label
            for="font-classic">传统</label></li>
        <li><input type="radio" class="J_fontStack" value="heti--sans" name="font" id="font-sans"><label
            for="font-sans">黑体</label></li>
        <li><input type="radio" class="J_fontStack" value="heti--serif" name="font" id="font-serif"><label
            for="font-serif">宋体</label></li>
    </ul>
    <ul class="panel-list panel-list--gray">
        <li><input type="radio" class="J_radioGrid" value="" name="grid" id="grid-disable" checked><label
            for="grid-disable">网格：关</label></li>
        <li><input type="radio" class="J_radioGrid" value="grid-24" name="grid" id="grid-24"><label
            for="grid-24">大</label></li>
        <li><input type="radio" class="J_radioGrid" value="grid-12" name="grid" id="grid-12"><label
            for="grid-12">小</label></li>
    </ul>
    <ul class="panel-list panel-list--gray panel-list--icon">
        <li><input type="radio" class="J_darkMode" value="auto" name="darkmode" id="darkmode-auto" checked><label
            for="darkmode-auto">🌗</label></li>
        <li><input type="radio" class="J_darkMode" value="light" name="darkmode" id="darkmode-light"><label
            for="darkmode-light">🌞</label></li>
        <li><input type="radio" class="J_darkMode" value="dark" name="darkmode" id="darkmode-dark"><label
            for="darkmode-dark">🌙</label></li>
    </ul>
</aside>

<script src="https://unpkg.com/heti/umd/heti-addon.min.js"></script>
<script>
    const $$root = document.getElementsByTagName('html')[0]
    const $$main = document.getElementsByTagName('main')[0]
    const $$article = document.getElementsByTagName('article')[0]

    function addEventListeners(nodeList, event, fn) {
        [].forEach.call(nodeList, function (elm) {
            elm.addEventListener(event, fn, false)
        }, false)
    }

    addEventListeners(document.getElementsByClassName('J_darkMode'), 'change', function (e) {
        $$root.setAttribute('data-darkmode', e.target.value)
    })

    addEventListeners(document.getElementsByClassName('J_radioGrid'), 'change', function (e) {
        $$main.setAttribute('data-bg-grid', e.target.value)
    })

    addEventListeners(document.getElementsByClassName('J_fontStack'), 'change', function (e) {
        $$article.className = ['article', 'heti', e.target.value].join(' ')
    })

    const heti = new Heti('.article')
    heti.autoSpacing()
</script>
</body>
</html>